
//               Profile section layout              ///////////////////////////////


//PROFILE BOX 1
.column{
    &__box1{
        flex: 0 0 40%;
        width: 100%;
        background-image: url("../../img/little_aboutme.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: center;
        filter: blur(0.8px);
        &-overlap{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.295);
            top: 0;
            left: 0;
        }
    }
    &__box2{
        flex: 0 0 1;
        display: flex;
        justify-content: center;
    }
}


.image{  
    margin-top: -10rem; 
    width: 100%;
    &__holder{
        width: 15rem;
        height: 15rem;
        border: 0.2rem white solid;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }
    &__img{
        width: 100%;
        backface-visibility: hidden;
        transform: scale(1.05);
        transition: all 0.5s ease;
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 80%) scale(2);
        font-size: 1.7rem;
        font-weight: 800;
        font-family: $ubuntu;
        padding: 0;
        margin: 0;
        opacity: 0;
        transition: all 0.5s ease;
    }

    &__holder:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
    &__holder:hover &__img{
        filter: blur(5px) brightness(80%);
        transform: scale(1);
    }

    &__about{
        margin-top: -5rem;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &__lists{
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            margin: 0 auto;
            padding-top: 5rem;
            @include atLarge-1420{
                display: auto;
            }   
        }
        &__item{
            flex: 0 0 50%;
            text-align: center;
            @include atLarge-1420{
                flex: 0 0 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        &__icon{
            width: 2.5rem;
            height: 2.5rem;
            fill: $mainSymbolColor;
            margin-right: 1rem;
        }
        &__description{
            font-size: 1.5rem;
            overflow: hidden;    
            position: relative;
            display: block;
            &-1{
                height: 1.5rem;
            }
        }
    }
}


.media{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    &__link{
        position: relative;
        padding: 1rem;
        display: inline-block;
        margin-left: 0.5rem;
        border-radius: 30%;
        transition: box-shadow 0.3s ease-in;
        overflow: hidden;
    }
    &__link:before{
        content: ".";
        position: absolute;
        width: 200%;
        height: 200%;
        background-color: rgba($mainSymbolColor, 0.8);
        left: 10%;
        top:  120%;
        transform: rotate(45deg);
    }
    &__link:hover::before{
        animation: media-animate 0.7s 1;
        left: 0%;
        top:  -60%;
        
    }
    &__icon{
        font-size: 1.8rem;
        color: $mainSymbolColor;
        transition: all 0.5s linear;
    }
    &__link:hover{
        box-shadow: $shadow;
    }
    &__link:hover &__icon{
        color: white;
        transform: scale(1.2);
    }
}

@keyframes media-animate{
    0%{
        left: 10%;
        top:  120%;
    }
    50%{
        left: 10%;
        top: -40%;
        
    }
    100%{
        left: 0%;
        top:  -60%;
    }
}
/////////////////////////////////////////////////////////////////
///////              Section: box-2-header                ///////
/////////////////////////////////////////////////////////////////
//header
.boxheader__container{
    width: 100%;
    font-family: $ubuntu;
    position: relative;
    &__header{
        margin:0 0 0 8rem;
        font-size: 5rem;
        text-shadow: $shadow;
        &::before, &::after{
            font-size: 3.8rem;
            position: absolute;
            transform-origin: center;
            height: 100%;
            transform: scale(1);
            color:transparent;
            background-image: linear-gradient(
                to bottom,
                rgb(68, 71, 233),
                aqua, 
            );
            background-clip: text;
            transition: transform 0.5s ease;
        }
        &::after{
            content: "}";
            right:0;
            margin-right: -1rem;
        }
        &::before{
            content: "{";      
            margin-left: -1rem;    
            left: 0;       
        }
    }
    &__pa{
        text-align: center;
        font-size: 1.5rem;
        padding: 3rem 10rem;
        font-family: $roboto;
        letter-spacing: 0.1rem;
        font-weight: 400;
    }
    &__symbol{
        color: black;
        font-size: 5rem;
        position: absolute;
        top: 5rem;
        left: 10rem;
        color:transparent;
        background-image: linear-gradient(
            to bottom,
            rgb(0, 188, 212),
            rgb(54, 54, 54), 
        );
        background-clip: text;
    }
    &__link{
        cursor: pointer;
        position: relative;
        display: inline-block;
        left: 50%;
        padding: 1rem 2.5rem;
        transform: translateX(-50%);
        transition: all 0.5s linear;
        border: 1px rgb(226, 226, 226) dotted;
        &-download{
            border-radius: 1.7rem;
            color: $mainSymbolColor;
            font-size: 1.3rem;
            transition: all 0.5s ease-in;  
        }
        &:hover{
            box-shadow: $box-shadow;
            background-color: $mainSymbolColor;
        }
        &:hover &-download{
            border-radius: 0;
            color: #ffffff;  
        }
    }
}


/////////////////////////////////////////////////////////////////
///////              Section: box-2-column (two）               ///////
/////////////////////////////////////////////////////////////////

//////// description（left box) /////////////////
.description{
    &__holder{
        height: 100%;
        position: relative;
    }
    &__header{
        font-size: 2.5rem; 
        font-family: $ubuntu;
        font-weight: 700;
        padding: 0;
        margin: 0;
        left: 10%;
        letter-spacing: 0.2rem;
        transform: translateX(-10%);
        @include atLarge{
            font-size: 2.0rem;
        }
     }
    &__percent{
        font-size: 1.2rem;
        opacity: 0;
        margin-left: 0.5rem;
      
    }
    &__skill:hover &__percent{
        opacity: 1;
    }
    &__skill{
        position: absolute;
        padding: 0 0.2rem;
        color: #bdb8b8;
        font-size: 1.5rem;
        font-weight: 400;
        cursor: pointer;
        backface-visibility: hidden;
        height: 2.5rem;
        transition: all 0.5s ease-in-out;
        @include atLarge{
            font-size: 1.8rem;
        }
        &:hover{
            transform: scale(1.1);
            border: 1px solid $mainSymbolColor;
            background-color: $mainSymbolColor;
            color: #ffffff;
            box-shadow: $box-shadow;
            z-index: 5;
        }
        &-html{
            top: 0rem;
            left: 3.8rem;
        }
        &-css{
            top: 3.8rem;
            left: 10.8rem;
        }
        &-javascript{
            top: 11.8rem;
            left: 9.8rem;
        }
        &-Jquery{
            top: 14.8rem;
            left: 6.8rem;
        }
        &-php{
            top: 8.8rem;
            left: 11.8rem;
        }
        &-sass{
            top: 0.8rem;
            left: 12.8rem;
        }
        &-BOOTSTRAP{
            top: 4.8rem;
            left: 15.8rem;
        }
        &-angular{
            top: 0.8rem;
            left: 19.8rem;
        }
        &-node{
            top: 6.8rem;
            left: 4.8rem;
        }
        &-mysql{
            top: 15.8rem;
            left: 15.8rem;
        }
        &-Materialize{
            top: 9.8rem;
            left: 18.8rem;
        }
        &-python{
            top: 13.3rem;
            left: 20.8rem;
        }
        &-express{
            top: 6.7rem;
            right: 3.2rem;
        }
        &-mongoose{
            top: 3rem;
            right: 0rem;
        }
        &-percent{
            position: absolute;
        }
    }
}

//////// job(right box) /////////////////
.job{
    margin-top: -20rem;
    padding-bottom: 15rem; 
    background-color: $mainSymbolColor-border;
    &__holder{
        padding-top: 20rem;
        position: relative;
        text-align: center;
    }
    &__header{ 
        color: aqua;
        font-weight: 500;
        // animation: name duration timing-function delay iteration-count direction fill-mode;
        &-1{
            animation: fade_text 4s  1s ease;
           
        }
        &-2{
            animation: fade_text 4.5s 0.5s ease;
        }
        &-3{
            animation: fade_text 5s  ease;
        }
    }
}



/////////////////////////////////////////////////////////////////
/////// Section: box-2-thrid//////////////////////////////////
/////////////////////////////////////////////////////////////////

.pallax{
    width: 100%;
    height: 100%;
    background-image: url("https://source.unsplash.com/1200x400/?modern");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    &__overlap{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mainSymbolColor-border;
        &_text{

        }
    }
    
}

//animation

@keyframes spining_text{
    0%{
        transform: rotateX(0) scale(0.5);
    }
    100%{
        transform: rotateX(360deg) scale(1.5);
    }
}

@keyframes fade_text{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }

}


///usage
.animation__text{
font-weight:500;
color:Black;
margin-top:5px;
margin-bottom:20px;
position:relative;
}


.hiden{
    opacity: 0;
}
.showup{
    opacity: 1;
}