
//               Profile section layout              ///////////////////////////////
.profile{
    font-size: 10px;
    font-family: $roboto;
    height: 93vh;
    display: flex;
    flex-direction: column;
    @include atLarge-1420{
        flex-direction: row;
    }
    &_box-1{
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        @include atLarge-1420{
            flex: 0 0 30%;
            flex-direction: column;
        }
    }
    &_box-2{
        flex: 0 0 70%;
        display: flex;
        padding: 0 1rem 0 1rem;
        flex-direction: column;
        overflow-y: scroll;
        overflow-x: hidden;
        @include atLarge-1420{
            
        }
        &-header{
            flex: 0 0 30%;
            width: 100%;
            display: flex;
            background-color: white;
            padding-bottom: 25rem;
            clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
        }
        &-column{
            margin-top: -7rem;
            padding: 0;
            flex: 0 0 60%;
            display: flex;
            &-sub{
                flex: 0 0 50%;
                padding-top: 10rem;
                width: 100%;
                background-color: lightblue;
                background-image: url("../../img/web_development.jpeg");
                background-position: 50% -5rem;
                background-size: cover;
                &-left{
                    background-color: #1b464c;
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='65' height='32.5' viewBox='0 0 65 32.5'%3E%3Cdefs%3E%3Crect stroke='%231b464c' stroke-width='0.14' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%231b464c' stroke-width='0.14'%3E%3Crect fill='%23204a50' width='1' height='1'/%3E%3Crect fill='%231b464c' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23244d53' width='1' height='1' y='1'/%3E%3Crect fill='%23295157' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%232d555a'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2332595e'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%231b464c'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23365c61'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%233ebb97'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%233ebb97'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='65' height='32.5'/%3E%3Crect fill='url(%23b)' width='65' height='32.5'/%3E%3Crect fill='url(%23c)' width='65' height='32.5'/%3E%3Crect fill='url(%23d)' width='65' height='32.5'/%3E%3Crect fill='url(%23e)' width='65' height='32.5'/%3E%3Crect fill='url(%23f)' width='65' height='32.5'/%3E%3C/svg%3E");
                    background-attachment: fixed;
                    background-size: cover;
                    border-right: 0.5rem solid $mainSymbolColor-border;
                }
            }
        }
        &-third{
            flex: 0 0 50%;
            background-color: antiquewhite;
        }
        &-fouth{
            flex: 0 0 80%;
            background-color: rgb(75, 74, 74);
            margin-top: -8rem;
         
        }
        &-fifth{
            flex: 0 0 100%;
            background-color: rgb(179, 0, 0);
           
         
        }
    }

}

//PROFILE BOX 1
.column{
    &__box1{
        flex: 0 0 40%;
        width: 100%;
        background-image: url("../../img/little_aboutme.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: center;
        filter: blur(0.8px);
        &-overlap{
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.295);
            top: 0;
            left: 0;
        }
    }
    &__box2{
        flex: 0 0 1;
        display: flex;
        justify-content: center;
    }
}


.image{  
    margin-top: -10rem; 
    width: 100%;
    &__holder{
        width: 15rem;
        height: 15rem;
        border: 0.2rem white solid;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto;
        position: relative;
    }
    &__img{
        width: 100%;
        backface-visibility: hidden;
        transform: scale(1.05);
        transition: all 0.5s ease;
    }
    &__caption{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 80%) scale(2);
        font-size: 1.7rem;
        font-weight: 800;
        font-family: $ubuntu;
        padding: 0;
        margin: 0;
        opacity: 0;
        transition: all 0.5s ease;
    }

    &__holder:hover &__caption{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.5);
    }
    &__holder:hover &__img{
        filter: blur(5px) brightness(80%);
        transform: scale(1);
    }

    &__about{
        margin-top: -5rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        &__lists{
           
        }
        &__item{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__icon{
            width: 2.5rem;
            height: 2.5rem;
            fill: $mainSymbolColor;
            margin-right: 1rem;
        }
        &__description{
            font-size: 1.5rem;
            overflow: hidden;    
            position: relative;
            display: block;
            &-1{
                height: 1.5rem;
            }
        }
    }
}

/////////////////////////////////////////////////////////////////
///////              Section: box-2-header                ///////
/////////////////////////////////////////////////////////////////
//header
.boxheader__container{
    width: 100%;
    font-family: $ubuntu;
    position: relative;
    &__header{
        margin:0 0 0 5rem;
        font-size: 5rem;
        &::before, &::after{
            font-size: 3.8rem;
            position: absolute;
            transform-origin: center;
            height: 100%;
            transform: scale(0);
            color:transparent;
            background-image: linear-gradient(
                to bottom,
                rgb(68, 71, 233),
                aqua, 
            );
            background-clip: text;
            transition: transform 0.5s ease;
        }
        &::after{
            content: "}";
            right:0;
            margin-right: -1rem;
        }
        &::before{
            content: "{";      
            margin-left: -1rem;    
            left: 0;
           
        }
       &:hover::before, &:hover::after{
           transform: scale(1);
       }
    }
    &__pa{
        text-align: center;
        font-size: 1.5rem;
        padding: 0 10rem;
        font-family: $roboto;
        letter-spacing: 0.1rem;
        font-weight: 400;
    }
    &__symbol{
        color: black;
        font-size: 5rem;
        position: absolute;
        top: 5rem;
        left: 10rem;
        color:transparent;
        background-image: linear-gradient(
            to bottom,
            rgb(0, 188, 212),
            rgb(54, 54, 54), 
        );
        background-clip: text;
    }
}


/////////////////////////////////////////////////////////////////
///////              Section: box-2-column (two）               ///////
/////////////////////////////////////////////////////////////////

//////// description（left box) /////////////////
.description{
    &__holder{
        height: 100%;
        position: relative;
    }
    &__header{
        font-size: 2.3rem; 
        font-family: $ubuntu;
        font-weight: 700;
        padding: 0;
        margin: 0;
        left: 10%;
        letter-spacing: 0.2rem;
        transform: translateX(-10%);
     }
    &__percent{
        font-size: 1.2rem;
        opacity: 0;
        margin-left: 0.5rem;
      
    }
    &__skill:hover &__percent{
        opacity: 1;
    }
    &__skill{
        position: absolute;
        padding: 0 0.2rem;
        color: #bdb8b8;
        font-size: 1.8rem;
        font-weight: 400;
        cursor: pointer;
        backface-visibility: hidden;
        height: 2.5rem;
        transition: all 0.5s ease-in-out;
        &:hover{
            transform: scale(1.1);
            border: 1px solid $mainSymbolColor;
            background-color: $mainSymbolColor;
            color: #ffffff;
            box-shadow: $box-shadow;
            z-index: 5;
        }
        &-html{
            top: 2rem;
            left: 3.8rem;
        }
        &-css{
            top: 5.8rem;
            left: 10.8rem;
        }
        &-javascript{
            top: 13.8rem;
            left: 9.8rem;
        }
        &-Jquery{
            top: 16.8rem;
            left: 6.8rem;
        }
        &-php{
            top: 10.8rem;
            left: 11.8rem;
        }
        &-sass{
            top: 1.8rem;
            left: 14.8rem;
        }
        &-BOOTSTRAP{
            top: 6.8rem;
            left: 15.8rem;
        }
        &-angular{
            top: 2.8rem;
            left: 19.8rem;
        }
        &-node{
            top: 8.8rem;
            left: 4.8rem;
        }
        &-mysql{
            top: 17.8rem;
            left: 15.8rem;
        }
        &-Materialize{
            top: 9.8rem;
            left: 18.8rem;
        }
        &-python{
            top: 13.3rem;
            left: 20.8rem;
        }
        &-percent{
            position: absolute;
        }
    }
}

//////// job(right box) /////////////////
.job{
    margin-top: -20rem;
    padding-bottom: 40rem; 
    background-color: #1b464c62;
    &__holder{
        padding-top: 20rem;
        position: relative;
        text-align: center;
    }
    &__header{ 
        color: white;
        // animation: name duration timing-function delay iteration-count direction fill-mode;
        &-1{
            animation: fade_text 4s  1s ease;
           
        }
        &-2{
            animation: fade_text 4.5s 0.5s ease;
        }
        &-3{
            animation: fade_text 5s  ease;
        }
    }
}



/////////////////////////////////////////////////////////////////
/////// Section: box-2-thrid//////////////////////////////////
/////////////////////////////////////////////////////////////////

.pallax{
    width: 100%;
    height: 100%;
    background-image: url("https://source.unsplash.com/1200x400/?modern");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    &__overlap{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mainSymbolColor-border;
        &_text{

        }
    }
    
}

//animation

@keyframes spining_text{
    0%{
        transform: rotateX(0) scale(0.5);
    }
    100%{
        transform: rotateX(360deg) scale(1.5);
    }
}

@keyframes fade_text{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }

}


///usage
.animation__text{
font-weight:500;
color:Black;
margin-top:5px;
margin-bottom:20px;
position:relative;
}


.hiden{
    opacity: 0;
}
.showup{
    opacity: 1;
}