//variable
$mainColor: rgb(92, 90, 90);    
$bgtextColor: rgba(128, 128, 128, 0.11);
$box-shadow: 0 1.5rem 4rem rgba(black, .2);



//section-header
.section-header{
    font-size: 3.5rem;
    cursor: pointer;
    font-weight: 600;
    text-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, .3);
            transition: all 0.5s ease-in-out;
            @include atSmall{
                font-size: 3.5rem;
                right: 0rem;
            }
            @include atMedium{
                font-size: 4rem;
                
            }
            @include atLarge{         
                
            }
            &:hover{
                letter-spacing: 0.8rem;
                transform: rotateZ(1deg);
            }
}

//custom container
.outter-container{
    padding: 0;
    @include atLarge{
        margin: 0 5rem;
    }

    &-nopadding{
        padding: 0;
        
    }
}
.container-1{
    padding: 0;
    @include atSmall{
        padding: 2rem 1rem;
    }
    @include atLarge{
        padding: 2rem 1rem;
    }
}


//Linear text
.lineartext-maincolor{
    color:transparent;
    background-image: linear-gradient(
        to right,
        rgb(183, 241, 241),
        #0288d1 70%,
        rgb(66, 108, 156), 
    );
    background-clip: text;
}


//background video
.bg-video{
    padding: 0 2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
    overflow: hidden;
    &__show{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}