@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');



//////////   variable ////////////////////////////
$roboto: 'Roboto', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

$shadow: 0.3rem 0.5rem 1rem rgba(0,0,0,.25);

$maincolor: rgb(29, 236, 236);
$mainSymbolColor: rgb(0, 188, 212);
$mainSymbolColor-border: rgba(158, 158, 158, 0.712);


$bgtextColor: rgba(128, 128, 128, 0.11);
$box-shadow: 0 1.5rem 3rem rgba(black, .2);


//custom margin
.margin-left-1{
    margin-left: 0.5rem;
}

//section-header
.section-header{
    font-weight: 400;
    letter-spacing: -0.1rem;
    cursor: default;
    padding: 1rem;
    display: inline-block;
    position: relative;
    transition: all 0.8s ease;
   &:hover{
    letter-spacing: 0.5rem;
    font-weight: 400;
    text-shadow: $shadow;
    transform: scale(1.05);
   }
}

//custom container
.outter-container{
    padding: 0;
    @include atLarge{
        margin: 0 4rem;
    }

    &-nopadding{
        padding: 0;
        
    }
}
.container-1{
    padding: 0;
    @include atSmall{
        padding: 2rem 1rem;
    }
    @include atLarge{
        padding: 0rem 1rem;
    }
}


//Linear text
.lineartext-maincolor{
    color:transparent;
    background-image: linear-gradient(
        to right,
        $mainSymbolColor,
        rgb(22, 117, 172), 
    );
    background-clip: text;
}
.lineartext-maincolor-1{
    color:transparent;
    background-image: linear-gradient(
        to right,
        rgb(255, 255, 255), 
        rgb(130, 130, 133),
  
    );
    background-clip: text;
}


//background video
.bg-video{
    padding: 0 2rem;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .5;
    overflow: hidden;
    &__show{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}