*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{background-color: rgba(159, 222, 255, 0.21);}
body{
    background-color: #fff;
    color: black;
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    letter-spacing: 1px;
    word-spacing: 1px;
    max-width: 1300px;
    margin: 0 auto;
    
}

body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(230, 27, 27, 0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
    background: rgba(23, 185, 255, 0.72);
}
body::-webkit-scrollbar{
    background-color: #fafafa;
    height: 10px;
}
body::-webkit-scrollbar-thumb
{
    background: #666;
	border-radius: 10px;
	background: rgba(182, 192, 201, 0.89);
    
}
/*************************/
/*Reusable Componenment*/
/*************************/
}
h1,h2,h3,h4,p{
    margin: 0;
    padding: 0;
}
p{
  font-family: 'Lato', sans-serif;
    letter-spacing: 1.5px;
    word-spacing: 2px;
}
h1, h2,h3{
     color: #408cce;
    font-family: 'Cabin Sketch', cursive;
}
.col{
    margin-top: 0;
    margin-left: 1%;
}

/*************************************/
/*tab-blog*/
/*************************************/
/* Style the tab */
.tab {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid #ccc;
    background-color: rgba(252, 253, 255, 0.31);
    width: 100%;
    border-radius: 15%;
    height: 38px;
}
#tab-scroll::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(230, 27, 27, 0.3);
	background-color: #F5F5F5;
	border-radius: 20%;
    background: rgba(23, 185, 255, 0.72);
}
#tab-scroll::-webkit-scrollbar{
    background-color: #fafafa;
    height: 13px;
}
#tab-scroll::-webkit-scrollbar-thumb
{
    background: #666;
	border-radius: 10px;
	background: rgba(182, 192, 201, 0.89);
    
}
/* Style the buttons inside the tab */
.tab a{
    text-decoration: none;
    position: relative;
    color: black;
    padding:0px 20px;
    font-family: 'Sarala', sans-serif;
}
.tab-hover{
    transition: all 0.5s;
}
a.tab-hover::after{
    content: '.';
    position: absolute;
    color: transparent;
    width: 0%;
    top: 0px;
    display: inline-block;
    transition: all 0.5s;
    transition-timing-function:ease-in;
}
#defaultOpen{
    cursor: pointer;
}
 a.tab-hover:hover::after,.tab-hover:hover,.tab-hover:active{
    background-color: rgba(0, 255, 255, 0.27);
    width: 100%;
}
a.tab-hover-left::after{
    left: 0;
}
a.tab-hover-right::after{
    right: 0;
}
.active {
    background-color: #71cfe9;
}
/*****************/
/*blog-page*/
/************************************/
.blog-page{
    display: none;
    transition: all 0.5s;
}
.blog-page h1{
    text-align: center;
    margin: 0;
    padding: 10px;
    font-size: 250%;
    font-weight: 700;
}
.blog-page h4{
    margin-top: 0;
    position: relative;
    margin-left: 65%;
    width: 10%;
    margin-bottom: 8px;
    font-style: italic;
    font-weight:400;
    font-size: 100%;
}

.blog-page::after{
    content: "";
    clear: both;
    display: table;
}
.a_img1{
    float: left;
     width: 50%;
    transition: all 0.5s;
    padding: 10px;
}
.a_img2{
    float: right;
    padding: 10px;
    width: 50%;
}
.blog-page p{
    padding: 10px 10px;
    text-align:inherit;
    font-size: 100%;
}
.double-space{
    margin-right: 50px;
    color: transparent;
}
.big-letter{
    font-size: 150%;
    font-weight: 500;
    color: darkgray;
}
/************************/
/*home-section color  #408cce hover background-color: rgba(0, 255, 255, 0.27);*/
.home-icon{
    text-align: center;
     background: linear-gradient(to bottom right, rgba(118, 194, 227, 0.81), #e6e6dc);
    height: 100%;
    position: fixed;
    width: 10%;
    transition: all 0.5s;
}
.home-icon a{
    text-decoration: none;
}
.home-icon i{
    font-size: 350%;
    display: block;
    padding-bottom: 20px;
    clear: both;
    transition: all 0.5s;
    color:  #291b1b;
    cursor: pointer;
}
.home-icon i:hover, .home-icon i:active{
    color: #408cce;
    transform: scale(1.15);
}
.fa-home {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    color: #408cce;
    
}
@keyframes rotate{
    fromt{
        -webkit-transform: rotate3d(0,1,0,0deg);
    }to{
        -webkit-transform: rotate3d(0,1,0,359deg);
    }
}
 /************************/
/*home-section color  #408cce hover background-color: rgba(0, 255, 255, 0.27);*/
.Gotop{
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 130%;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer;
}
.Gotop:hover, .Gotop:active{
    color: rgba(0, 61, 255, 0.86);
    font-size: 150%;
}
@media only screen and (max-width: 920px){
    .home-icon i{
        font-size: 200%;
    }
    .blog-page img{
        width: 100%;
        padding: 5px;
    }
    .blog-page p{
        font-size: 95%;
    }
}
@media only screen and (max-width: 480px){
    html,body{
        background-color: rgba(159, 222, 255, 0.21);
    }
    .col{
        margin-left: 0;
    }
    body::-webkit-scrollbar{
        display: none;
}
    #a{
        
    }
    .home-icon{
        height: auto;
        position:relative;
        width: 100%;
    }
    .home-icon i{
        display: inline-block;
        font-size: 300%;
        padding-bottom: 1px;
        padding-right: 10px;
    }
    a.tab-hover:hover::after{
        display: none;
    }
    .blog-page p{
        font-size: 90%;
    }
}