.lineartext-maincolor {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#27e1eb), color-stop(10%, #0288d1), to(#0de2e2));
  background-image: linear-gradient(to bottom, #27e1eb, #0288d1 10%, #0de2e2);
  -webkit-background-clip: text;
          background-clip: text; }

.profile {
  font-size: 10px; }
  .profile__card {
    -webkit-perspective: 150rem;
            perspective: 150rem;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    height: 37rem;
    cursor: pointer;
    position: relative; }
    .profile__card--side {
      position: absolute;
      -webkit-transition: all 0.8s linear;
      transition: all 0.8s linear;
      top: 0;
      left: 0;
      width: 100%;
      padding: 2rem;
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
      .profile__card--side-front {
        background-color: white; }
      .profile__card--side-back {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg); }
    .profile__card:hover .profile__card--side-front {
      -webkit-transform: rotateY(-180deg);
              transform: rotateY(-180deg); }
    .profile__card:hover .profile__card--side-back {
      -webkit-transform: rotateY(0);
              transform: rotateY(0); }
  .profile__img {
    width: 100%;
    border: 1px black solid;
    -webkit-box-shadow: 0 1.5rem 4rem #5c5a5a;
            box-shadow: 0 1.5rem 4rem #5c5a5a; }
  .profile__content__header {
    font-size: 7rem;
    text-align: right;
    display: inline;
    cursor: pointer;
    position: absolute;
    right: 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    .profile__content__header:hover {
      letter-spacing: 0.8rem;
      -webkit-transform: rotateZ(1deg);
              transform: rotateZ(1deg); }
  .profile__content__text {
    padding-top: 10rem; }
