@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Roboto");
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Roboto");
.margin-left-1 {
  margin-left: 0.5rem; }

.section-header {
  font-weight: 400;
  letter-spacing: -0.1rem;
  cursor: default;
  padding: 1rem;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease; }
  .section-header:hover {
    letter-spacing: 0.5rem;
    -webkit-transform: scale(1.05);
            transform: scale(1.05); }

.outter-container {
  padding: 0; }
  @media (min-width: 1300px) {
    .outter-container {
      margin: 0 4rem; } }
  .outter-container-nopadding {
    padding: 0; }

.container-1 {
  padding: 0; }
  @media (min-width: 480px) {
    .container-1 {
      padding: 2rem 1rem; } }
  @media (min-width: 1300px) {
    .container-1 {
      padding: 0rem 1rem; } }

.lineartext-maincolor {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#00bcd4), to(#1675ac));
  background-image: linear-gradient(to right, #00bcd4, #1675ac);
  -webkit-background-clip: text;
          background-clip: text; }

.lineartext-maincolor-1 {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0f8ec0), to(#fdfdfd));
  background-image: linear-gradient(to bottom, #0f8ec0, #fdfdfd);
  -webkit-background-clip: text;
          background-clip: text; }

.bg-video {
  padding: 0 2rem;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .5;
  overflow: hidden; }
  .bg-video__show {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.profile {
  font-size: 10px;
  font-family: "Roboto", sans-serif;
  height: 93vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 1420px) {
    .profile {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row; } }
  .profile_box-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    @media (min-width: 1420px) {
      .profile_box-1 {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 30%;
                flex: 0 0 30%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .profile_box-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 1rem 0 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden; }
    .profile_box-2-header {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 30%;
              flex: 0 0 30%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-color: white;
      padding-bottom: 43rem;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
    .profile_box-2-column {
      margin-top: -10rem;
      padding: 0;
      -webkit-box-flex: 0;
          -ms-flex: 0 0 60%;
              flex: 0 0 60%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .profile_box-2-column-sub {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 50%;
                flex: 0 0 50%;
        padding-top: 10rem;
        width: 100%;
        background-color: lightblue;
        background-image: url("../../img/web_development.jpeg");
        background-position: 50% -5rem;
        background-size: cover;
        overflow: hidden; }
        .profile_box-2-column-sub-left {
          background-color: #1b464c;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='65' height='32.5' viewBox='0 0 65 32.5'%3E%3Cdefs%3E%3Crect stroke='%231b464c' stroke-width='0.14' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='2' height='2' patternUnits='userSpaceOnUse'%3E%3Cg stroke='%231b464c' stroke-width='0.14'%3E%3Crect fill='%23204a50' width='1' height='1'/%3E%3Crect fill='%231b464c' width='1' height='1' x='1' y='1'/%3E%3Crect fill='%23244d53' width='1' height='1' y='1'/%3E%3Crect fill='%23295157' width='1' height='1' x='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='b' width='5' height='11' patternUnits='userSpaceOnUse'%3E%3Cg fill='%232d555a'%3E%3Cuse xlink:href='%23s' x='2' y='0'/%3E%3Cuse xlink:href='%23s' x='4' y='1'/%3E%3Cuse xlink:href='%23s' x='1' y='2'/%3E%3Cuse xlink:href='%23s' x='2' y='4'/%3E%3Cuse xlink:href='%23s' x='4' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='8'/%3E%3Cuse xlink:href='%23s' x='3' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='7' height='7' patternUnits='userSpaceOnUse'%3E%3Cg fill='%2332595e'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='3' y='4'/%3E%3Cuse xlink:href='%23s' x='5' y='6'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='11' height='5' patternUnits='userSpaceOnUse'%3E%3Cg fill='%231b464c'%3E%3Cuse xlink:href='%23s' x='1' y='1'/%3E%3Cuse xlink:href='%23s' x='6' y='3'/%3E%3Cuse xlink:href='%23s' x='8' y='2'/%3E%3Cuse xlink:href='%23s' x='3' y='0'/%3E%3Cuse xlink:href='%23s' x='0' y='3'/%3E%3C/g%3E%3Cg fill='%23365c61'%3E%3Cuse xlink:href='%23s' x='8' y='3'/%3E%3Cuse xlink:href='%23s' x='4' y='2'/%3E%3Cuse xlink:href='%23s' x='5' y='4'/%3E%3Cuse xlink:href='%23s' x='10' y='0'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='23' patternUnits='userSpaceOnUse'%3E%3Cg fill='%233ebb97'%3E%3Cuse xlink:href='%23s' x='2' y='5'/%3E%3Cuse xlink:href='%23s' x='23' y='13'/%3E%3Cuse xlink:href='%23s' x='4' y='18'/%3E%3Cuse xlink:href='%23s' x='35' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='61' height='31' patternUnits='userSpaceOnUse'%3E%3Cg fill='%233ebb97'%3E%3Cuse xlink:href='%23s' x='16' y='0'/%3E%3Cuse xlink:href='%23s' x='13' y='22'/%3E%3Cuse xlink:href='%23s' x='44' y='15'/%3E%3Cuse xlink:href='%23s' x='12' y='11'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='65' height='32.5'/%3E%3Crect fill='url(%23b)' width='65' height='32.5'/%3E%3Crect fill='url(%23c)' width='65' height='32.5'/%3E%3Crect fill='url(%23d)' width='65' height='32.5'/%3E%3Crect fill='url(%23e)' width='65' height='32.5'/%3E%3Crect fill='url(%23f)' width='65' height='32.5'/%3E%3C/svg%3E");
          background-attachment: fixed;
          background-size: cover;
          border-right: 0.5rem solid rgba(121, 231, 250, 0.26); }
    .profile_box-2-third {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      background-color: white; }
    .profile_box-2-fouth {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 80%;
              flex: 0 0 80%;
      margin-top: -8rem;
      padding-bottom: 13rem; }
    .profile_box-2-fifth {
      -webkit-box-flex: 0;
          -ms-flex: 0 0 100%;
              flex: 0 0 100%;
      background-color: #b30000; }

.column__box1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  width: 100%;
  background-image: url("../../img/little_aboutme.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: center;
  -webkit-filter: blur(0.8px);
          filter: blur(0.8px); }
  .column__box1-overlap {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.295);
    top: 0;
    left: 0; }

.column__box2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1;
          flex: 0 0 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.image {
  margin-top: -10rem;
  width: 100%; }
  .image__holder {
    width: 15rem;
    height: 15rem;
    border: 0.2rem white solid;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    position: relative; }
  .image__img {
    width: 100%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .image__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, 80%) scale(2);
            transform: translate(-50%, 80%) scale(2);
    font-size: 1.7rem;
    font-weight: 800;
    font-family: "Ubuntu", sans-serif;
    padding: 0;
    margin: 0;
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
  .image__holder:hover .image__caption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5); }
  .image__holder:hover .image__img {
    -webkit-filter: blur(5px) brightness(80%);
            filter: blur(5px) brightness(80%);
    -webkit-transform: scale(1);
            transform: scale(1); }
  .image__about {
    margin-top: -5rem;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .image__about__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    .image__about__icon {
      width: 2.5rem;
      height: 2.5rem;
      fill: #00bcd4;
      margin-right: 1rem; }
    .image__about__description {
      font-size: 1.5rem;
      overflow: hidden;
      position: relative;
      display: block; }
      .image__about__description-1 {
        height: 1.5rem; }

.boxheader__container {
  width: 100%;
  font-family: "Ubuntu", sans-serif;
  position: relative; }
  .boxheader__container__header {
    margin: 0 0 0 5rem;
    font-size: 5rem;
    text-shadow: 0.3rem 0.5rem 1rem rgba(0, 0, 0, 0.25); }
    .boxheader__container__header::before, .boxheader__container__header::after {
      font-size: 3.8rem;
      position: absolute;
      -webkit-transform-origin: center;
              transform-origin: center;
      height: 100%;
      -webkit-transform: scale(1);
              transform: scale(1);
      color: transparent;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#4447e9), to(aqua));
      background-image: linear-gradient(to bottom, #4447e9, aqua);
      -webkit-background-clip: text;
              background-clip: text;
      -webkit-transition: -webkit-transform 0.5s ease;
      transition: -webkit-transform 0.5s ease;
      transition: transform 0.5s ease;
      transition: transform 0.5s ease, -webkit-transform 0.5s ease; }
    .boxheader__container__header::after {
      content: "}";
      right: 0;
      margin-right: -1rem; }
    .boxheader__container__header::before {
      content: "{";
      margin-left: -1rem;
      left: 0; }
  .boxheader__container__pa {
    text-align: center;
    font-size: 1.5rem;
    padding: 3rem 10rem;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.1rem;
    font-weight: 400; }
  .boxheader__container__symbol {
    color: black;
    font-size: 5rem;
    position: absolute;
    top: 5rem;
    left: 10rem;
    color: transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00bcd4), to(#363636));
    background-image: linear-gradient(to bottom, #00bcd4, #363636);
    -webkit-background-clip: text;
            background-clip: text; }
  .boxheader__container__link {
    position: relative;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: -webkit-box-shadow 0.5s ease;
    transition: -webkit-box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease; }
    .boxheader__container__link-download {
      padding: 1rem 3rem;
      border-radius: 1.7rem;
      color: #ffffff;
      font-size: 1.3rem;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background-color: #00bcd4; }
    .boxheader__container__link:hover {
      -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2); }
    .boxheader__container__link:hover .boxheader__container__link-download {
      border-radius: 0;
      color: #e4dcdc;
      border: 1px #e2e2e2 dotted; }

.description__holder {
  height: 100%;
  position: relative; }

.description__header {
  font-size: 2.5rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 0;
  margin: 0;
  left: 10%;
  letter-spacing: 0.2rem;
  -webkit-transform: translateX(-10%);
          transform: translateX(-10%); }

.description__percent {
  font-size: 1.2rem;
  opacity: 0;
  margin-left: 0.5rem; }

.description__skill:hover .description__percent {
  opacity: 1; }

.description__skill {
  position: absolute;
  padding: 0 0.2rem;
  color: #bdb8b8;
  font-size: 1.8rem;
  font-weight: 400;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 2.5rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .description__skill:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border: 1px solid #00bcd4;
    background-color: #00bcd4;
    color: #ffffff;
    -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
    z-index: 5; }
  .description__skill-html {
    top: 0rem;
    left: 3.8rem; }
  .description__skill-css {
    top: 3.8rem;
    left: 10.8rem; }
  .description__skill-javascript {
    top: 11.8rem;
    left: 9.8rem; }
  .description__skill-Jquery {
    top: 14.8rem;
    left: 6.8rem; }
  .description__skill-php {
    top: 8.8rem;
    left: 11.8rem; }
  .description__skill-sass {
    top: 0.8rem;
    left: 14.8rem; }
  .description__skill-BOOTSTRAP {
    top: 4.8rem;
    left: 15.8rem; }
  .description__skill-angular {
    top: 0.8rem;
    left: 19.8rem; }
  .description__skill-node {
    top: 6.8rem;
    left: 4.8rem; }
  .description__skill-mysql {
    top: 17.8rem;
    left: 15.8rem; }
  .description__skill-Materialize {
    top: 9.8rem;
    left: 18.8rem; }
  .description__skill-python {
    top: 13.3rem;
    left: 20.8rem; }
  .description__skill-percent {
    position: absolute; }

.job {
  margin-top: -20rem;
  padding-bottom: 15rem;
  background-color: rgba(121, 231, 250, 0.26); }
  .job__holder {
    padding-top: 20rem;
    position: relative;
    text-align: center; }
  .job__header {
    color: white; }
    .job__header-1 {
      -webkit-animation: fade_text 4s  1s ease;
              animation: fade_text 4s  1s ease; }
    .job__header-2 {
      -webkit-animation: fade_text 4.5s 0.5s ease;
              animation: fade_text 4.5s 0.5s ease; }
    .job__header-3 {
      -webkit-animation: fade_text 5s  ease;
              animation: fade_text 5s  ease; }

.pallax {
  width: 100%;
  height: 100%;
  background-image: url("https://source.unsplash.com/1200x400/?modern");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .pallax__overlap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 231, 250, 0.26); }

@-webkit-keyframes spining_text {
  0% {
    -webkit-transform: rotateX(0) scale(0.5);
            transform: rotateX(0) scale(0.5); }
  100% {
    -webkit-transform: rotateX(360deg) scale(1.5);
            transform: rotateX(360deg) scale(1.5); } }

@keyframes spining_text {
  0% {
    -webkit-transform: rotateX(0) scale(0.5);
            transform: rotateX(0) scale(0.5); }
  100% {
    -webkit-transform: rotateX(360deg) scale(1.5);
            transform: rotateX(360deg) scale(1.5); } }

@-webkit-keyframes fade_text {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes fade_text {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.animation__text {
  font-weight: 500;
  color: Black;
  margin-top: 5px;
  margin-bottom: 20px;
  position: relative; }

.hiden {
  opacity: 0; }

.showup {
  opacity: 1; }

.about {
  margin-top: 8rem;
  margin-bottom: 5rem;
  position: relative;
  height: 1000px;
  font-family: 'Roboto', sans-serif;
  background-color: antiquewhite;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%);
          clip-path: polygon(0 25%, 100% 0, 100% 75%, 0 100%); }

.coding {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 1.5rem; }
  @media (min-width: 1300px) {
    .coding {
      font-size: 3.5rem; } }
  .coding__icon {
    margin-right: 2rem;
    font-size: 3.5rem;
    cursor: pointer;
    font-weight: 600;
    text-shadow: 0 0.2rem 1.5rem rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
    @media (min-width: 480px) {
      .coding__icon {
        font-size: 3.5rem;
        right: 0rem; } }
    @media (min-width: 860px) {
      .coding__icon {
        font-size: 5rem;
        right: 15rem; } }
    @media (min-width: 1300px) {
      .coding__icon {
        right: 10rem; } }

.skillset {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  .skillset__container {
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
            flex: 0 0 20%;
    border: 1px black solid;
    -webkit-transition: -webkit-box-shadow 0.8s ease;
    transition: -webkit-box-shadow 0.8s ease;
    transition: box-shadow 0.8s ease;
    transition: box-shadow 0.8s ease, -webkit-box-shadow 0.8s ease; }
  .skillset__holder {
    padding: 2rem;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    cursor: pointer; }
    .skillset__holder-icon {
      fill: #dd8029;
      width: 8rem;
      height: 8rem;
      display: inline-block; }
      .skillset__holder-icon-icon-html {
        fill: #dd8029; }
    .skillset__holder-title {
      padding: 0;
      margin: 0;
      font-size: 2rem;
      font-weight: 500; }
    .skillset__holder-overlap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      background-position: 0;
      bottom: 0;
      position: absolute;
      background-image: radial-gradient(#fbff00 20%, rgba(218, 77, 77, 0.623) 80%);
      width: 0%;
      height: 0%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-clip-path: polygon(50% 0%, 65% 29%, 98% 35%, 76% 61%, 79% 91%, 49% 78%, 21% 91%, 26% 61%, 2% 35%, 36% 29%);
              clip-path: polygon(50% 0%, 65% 29%, 98% 35%, 76% 61%, 79% 91%, 49% 78%, 21% 91%, 26% 61%, 2% 35%, 36% 29%);
      opacity: 0;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .skillset__holder-count {
      color: #145ea0;
      -webkit-transform: scale(3.5);
              transform: scale(3.5);
      font-weight: 500;
      font-size: 5rem;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease; }
    .skillset__holder:hover .skillset__holder-overlap {
      opacity: 1;
      height: 50%;
      width: 50%;
      padding: 2rem; }
    .skillset__holder:hover .skillset__holder-count {
      font-size: 0.8rem; }
    .skillset__holder:hover .skillset__holder-count-small {
      font-size: 0.05rem; }

.showcase {
  margin-top: 15rem;
  width: 100%;
  height: 30rem;
  padding: 1rem 0;
  cursor: -webkit-grab; }
  .showcase__item {
    height: 100%;
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: -webkit-box-shadow 0.5s ease;
    transition: -webkit-box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease;
    transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease; }
    .showcase__item:hover {
      -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 255, 255, 0.5);
              box-shadow: 0 1.5rem 3rem rgba(0, 255, 255, 0.5); }
  .showcase__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    width: 100%; }
  .showcase__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    width: 100%;
    background-color: whitesmoke; }
  .showcase__header {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
    margin-bottom: 0.5rem; }
  .showcase__link {
    font-family: "Ubuntu", sans-serif;
    margin-top: 1.5rem;
    font-size: 1.8rem;
    display: inline-block;
    color: #00bcd4;
    padding: 0.1rem 0.22rem;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .showcase__link:last-child {
      margin-left: 0.5rem; }
    .showcase__link-icon {
      -webkit-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in; }
    .showcase__link::before {
      content: "";
      position: absolute;
      background-color: rgba(0, 0, 0, 0.089);
      left: 0;
      bottom: -0rem;
      width: 100%;
      height: 0rem;
      -webkit-transition: height 0.5s ease-in;
      transition: height 0.5s ease-in; }
    .showcase__link:hover {
      color: #2196F3;
      background-color: rgba(226, 226, 226, 0.918);
      -webkit-box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
              box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
      border: #2196F3 dotted 0.1rem; }
    .showcase__link:hover::before {
      height: 0.1rem;
      background-color: rgba(33, 150, 243, 0.59); }
    .showcase__link:hover .showcase__link-icon {
      -webkit-transform: scale(1.2) rotate(-10deg);
              transform: scale(1.2) rotate(-10deg);
      color: #2196F3;
      z-index: 2; }
  .showcase__demo {
    display: block; }
  .showcase__reveal {
    position: absolute;
    z-index: 22;
    top: -90%;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0.3rem;
    background-color: rgba(247, 247, 247, 0.705);
    -webkit-transition: top 0.5s ease-in;
    transition: top 0.5s ease-in; }
    .showcase__reveal-close {
      float: right;
      display: inline-block;
      margin-right: 0.5rem;
      margin-top: 0.7rem;
      font-size: 1.3rem; }
    .showcase__reveal-header {
      float: left;
      display: inline-block;
      font-size: 2.5rem; }
  .showcase__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 50;
    -webkit-transition: opacity 0.6s 0.6s ease-in;
    transition: opacity 0.6s 0.6s ease-in; }
  .showcase__reveal:hover {
    top: 0; }
  .showcase__reveal:hover .showcase__container {
    opacity: 1; }

.swiper-container {
  width: 100%;
  height: 100%; }

.swiper-slide {
  padding: 0 0.3rem;
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.parallaxx {
  height: 20rem;
  width: 100%;
  background-color: aqua;
  margin-top: 10rem; }
